@use "../../styles/utils/breakpoints" as b;
@use "../../styles/utils/misc" as m;

:root {
	--cert-viewer--background: var(--wp--custom--color--white-2);
	--cert-viewer--z-index: 1000;
	--cert-viewer--control--size: 56px;
	--cert-viewer--control--background: var(--wp--preset--color--accent);
	--cert-viewer--control--color: var(--wp--preset--color--white);
	--cert-viewer--control--background--disabled: var(--wp--preset--color--base);
}

.wp-block-scg-cert-viewer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: var(--wp-admin--admin-bar--height, 0);
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: center;

	&[hidden] {
		display: none;
	}

	&__modal {
		width: 100%;
		height: 100%;
		margin: auto;
		overflow: hidden;
		position: relative;
		z-index: var(--cert-viewer--z-index);
		display: flex;
		flex-direction: column;

		&[hidden] {
			display: none;
		}
	}

	&__loading,
	&__backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__backdrop {
		background: var(--cert-viewer--background);
		backdrop-filter: blur(10px);
	}

	&__loading {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		&[hidden] {
			display: none;
		}
	}

	&__canvas {
		width: 100%;
		height: 100%;
		overflow: auto;
		display: flex;
		align-items: center;
	}

	canvas {
		display: block;
		margin: auto;
		box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);

		&[hidden] {
			display: none;
		}
	}

	&__error {
		width: 100%;
		text-align: center;
	}

	&__control {
		width: var(--cert-viewer--control--size);
		height: var(--cert-viewer--control--size);
		background-color: var(--cert-viewer--control--background);
		color: var(--cert-viewer--control--color);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		position: absolute;
		z-index: 10;
		touch-action: manipulation;

		&:active {
			opacity: 0.75;
		}

		&[disabled] {
			cursor: not-allowed;
			background-color: var(--cert-viewer--control--background--disabled);

			svg {
				opacity: 0.5;
			}
		}

		&:not([disabled]) {
			cursor: pointer;
		}

		&[hidden] {
			display: none;
		}

		&--close {
			top: 0;
			right: 0;

			@include m.close-icon("open");
		}

		&--next,
		&--prev {
			top: 50%;
			transform: translateY(-50%);
		}

		&--next {
			right: 0;
		}

		&--prev {
			left: 0;
		}

		&--zoom-in,
		&--zoom-out {
			right: 0;
		}

		&--zoom-in {
			bottom: var(--cert-viewer--control--size);
		}

		&--zoom-out {
			bottom: 0;
		}
	}
}
