.scg-site-header {
	top: var(--wp-admin--admin-bar--height, 0);
	z-index: 1000;
	position: fixed;
	left: 0;
	right: 0;
}

body:has(.scg-site-header) {
	padding-top: var(--navigation--height);

	.wp-block-cover:not(.is-style-page-splash) {
		background-color: unset;

		.wp-block-cover__image-background,
		.wp-block-cover__background {
			top: var(--navigation--height);
		}
	}
}

body:has(.wp-block-scg-header.is-style-transparent) {
	padding-top: 0;
}
