.scg-site-header {
	top: var(--wp-admin--admin-bar--height, 0);
	z-index: 1000;
	position: sticky;
	left: 0;
	right: 0;

	&:has(.wp-block-scg-header.is-style-transparent) {
		position: fixed;
	}
}

body:has(.scg-site-header) {

	.wp-block-cover:not(.is-style-page-splash) {
		background-color: unset;

		.wp-block-cover__image-background,
		.wp-block-cover__background {
			top: var(--navigation--height);
		}
	}
}
