.scg-template--page-with-cover {
	--navigation--border--width: 0;
	--navigation--border: none;
	--navigation--background: transparent;
	--navigation--link--color: var(--wp--preset--color--white);
	--scg-logo--main-color: var(--wp--preset--color--white);

	&:is(main) {
		margin-top: 0;

		> :first-child {
			padding-top: var(--navigation--height);
		}
	}

	&:is(.scg-site-header) {
		position: fixed;
	}

	.scg {

		&-featured {
			background-color: var(--wp--preset--color--base);

			.wp-block-cover__inner-container {
				padding: var(--wp--preset--spacing--80) 0;
			}

			&:is(.has-custom-content-position.is-position-bottom-left) .wp-block-cover__inner-container {
				width: 100%;
			}
		}
	}
}
