.scg-template--page-with-cover {
	--navigation--border--width: 0;
	--navigation--border: none;
	--navigation--background: transparent;
	--navigation--link--color: var(--wp--preset--color--white);
	--scg-logo--main-color: var(--wp--preset--color--white);

	&:is(main) {
		margin-top: 0;

		> :first-child {
			padding-top: var(--navigation--height);
		}
	}

	&:is(.scg-site-header) {
		position: fixed;
	}
}
