@use "utils/breakpoints";

// Grid layout on mobile.
.wp-block-group.is-layout-grid {

	@media (max-width: calc(#{breakpoints.$break-mobile-layout} - 1px)) {
		grid-template-columns: 1fr;

		> :is(*, div) {
			grid-column: 1;
		}
	}
}

// Media & text.
.wp-block-media-text {

	>.wp-block-media-text__content {
		padding-right: calc((100vw - var(--wp--style--global--content-size)) / 2);
	}

	&.has-media-on-the-right {

		>.wp-block-media-text__content {
			padding-left: calc((100vw - var(--wp--style--global--content-size)) / 2);
		}
	}
}

// Featured
.wp-block-cover {
	padding: var(--navigation--height) 0 0;
	background-color: var(--wp--preset--color--base);

	&__inner-container {
		padding: var(--wp--preset--spacing--80) 0;
		width: 100%;
	}

	&__background {
		background-color: #000;
	}

	// Override default fixed background position settings.
	&__image-background.has-parallax {
		background-position: center top !important;
	}

	// Section splash.
	&.is-style-section-splash {
		align-items: unset;
		justify-content: unset;

		.wp-block-cover {

			// Override content position settings.
			&__inner-container {
				margin-left: auto !important;
				margin-right: auto !important;
				width: 100% !important;
			}
		}

		.wp-block-columns {
			height: 100%;

			.wp-block-column:last-child {
				align-self: end;
			}
		}
	}

	// Page splash.
	&.is-style-page-splash {
		padding-bottom: var(--wp--preset--spacing--32);
		align-items: unset;

		.wp-block-cover__inner-container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-top: 0;

			> * {

				&:not(.wp-block-scg-scroll-badge) {
					width: 100%;
				}
			}
		}

		&:has(.wp-block-scg-scroll-badge) {

			.wp-block-cover__inner-container {
				padding-bottom: calc(var(--scg-splash--badge--size) + var(--wp--style--block-gap));

				@include breakpoints.break-xlarge {
					padding-bottom: var(--scg-splash--badge--size);
				}
			}
		}

		.wp-block-scg-scroll-badge {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			@include breakpoints.break-mobile {
				left: unset;
				transform: unset;
				right: var(--navigation--padding);
				margin: 0 !important;
			}
		}
	}
}

.wp-block-group {
	// Stats
	&.scg-stats {

		@include breakpoints.break-wide {
			max-width: calc(0.7 * var(--wp--style--global--content-size, 100%));
		}
	}
}

// Border.
.scg-border {
	border-style: solid;
	border-width: 4px;

	&--accent {
		border-color: var(--wp--preset--color--accent);
	}
}

// Box.
.scg-box {

	&__content {
		min-width: 200px;
	}
}

// Fleet model row.
.scg-fleet-model {

	@media ((min-width: breakpoints.$break-small) and (max-width: breakpoints.$break-xlarge)) {

		.wp-block-image {
			grid-column: span 4;
		}

		p,
		ul {
			grid-column: span 2;
		}
	}
}
