/**
 * Editor content styles enqueued in the editor and on the frontend
 */

// Utils
@use "utils/breakpoints";
@use "utils/transitions" as t;
@use "utils/reset";

// Theme
@use "header";
@use "footer";
@use "patterns";

// Layout
:root {
	--screen-height: 100dvh;
	--viewport-height: calc(var(--screen-height) - var(--wp-admin--admin-bar--height, 0px));
	--mobile-menu-height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
}

body {
	background-color: var(--wp--preset--color--white);
}

main {
	margin: 0;
}

:where(.wp-site-blocks) > footer {
	margin-top: 0;
}

// Global
a {

	@include t.transition;
}

.has-headings-font-family {
	line-height: 1;
	font-weight: 800;
	font-style: italic;
}

.has-160-font-size,
.has-200-font-size {

	@media (max-width: 359px) {
		hyphens: auto;
	}
}

.is-layout-constrained > :not(.alignleft):not(.alignright):not(.alignfull):not(.is-layout-constrained):not(.is-layout-grid) {

	@media (max-width: 359px) {
		padding-left: var(--wp--preset--spacing--16);
		padding-right: var(--wp--preset--spacing--16);
		max-width: 100%;
	}
}

// Blocks
.wp-block-list {

	&.is-style-spaced {

		> li:not(:last-child) {
			padding-bottom: 1em;
		}
	}

	&.is-style-inside {
		padding-left: 0;
		list-style-position: inside;
	}
}

.wp-block-cover.is-light:not(.has-text-color) {
	color: var(--wp--preset--color--white, #fff);
}

// Text Filters
.scg-text-shadow {
	letter-spacing: 0.01em;
	color: currentcolor;
	-webkit-text-fill-color: #fff;
	/* stylelint-disable-next-line */
	// text-shadow: -1px -1px 0 currentcolor, 1px -1px 0 currentcolor, -1px 1px 0 currentcolor, 1px 1px 0 currentcolor;
	filter:
		drop-shadow(-1px -1px 0 currentcolor)
		drop-shadow(1px -1px 0 currentcolor)
		drop-shadow(-1px 1px 0 currentcolor)
		drop-shadow(1px 1px 0 currentcolor);
}

// Safe SVG.
.safe-svg-cover svg {
	fill: none;
}

// Navigation.
.wp-block-navigation {

	&.is-style-main {

		.wp-block-navigation-link {
			font-weight: 700;
			font-size: 1.5rem;

			a {
				text-decoration: none;
			}

			@include breakpoints.show-desktop-menu {
				font-size: var(--wp--preset--font-size--16);

				a {
					padding: 0.5625em 0;
					color: var(--navigation--link--color, currentColor);

					@include t.underline(var(--navigation--link--hover-color));

					&:hover {
						color: var(--navigation--link--hover-color);
					}
				}
			}
		}
	}
}

// Columns.
.wp-block-column {

	@media (max-width: calc(breakpoints.$break-mobile-layout - 1px)) {

		&:empty {
			display: none;
		}
	}
}

// Block state helpers.
html.has-modal-open {
	overflow: hidden;
}

// Aria.
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

// 404.
.scg-404-heading {

	@media (max-width: calc(breakpoints.$break-mobile-layout - 1px)) {
		text-align: center;
	}
}
