:root :where(.wp-site-blocks) > main,
:root :where(.is-layout-flow) > *:empty {
	margin-top: 0;
}

.wp-block-cover.scg-featured {
	color: #fff;

	.wp-block-post-excerpt__more-text {
		display: none;
	}
}

p {
	margin: 0;
}
