/**
 * Theme styles enqueued only on the frontend
 */
#wpadminbar {
	z-index: 100000;

	@media screen and (max-width: 600px) {
		position: fixed;
	}
}

// Carousel block animation.
.wp-block-scg-carousel {

	&__wrapper {
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-play-state: paused;
		animation-name: slide_loop;
	}
}

@keyframes slide_loop {

	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

// Page scroll animations.
.entry-content > *:not(.wp-block-cover) {
	opacity: 0;
}
