/**
 * Editor content styles enqueued in the editor and on the frontend
 */

// Utils
@use "utils/breakpoints";
@use "utils/transitions" as t;
@use "utils/reset";

// Theme
@use "header";
@use "footer";
@use "patterns";

// Plugins
@use "plugins/translatepress";

// Global
:root {
	--screen-height: 100dvh;
	--viewport-height: calc(var(--screen-height) - var(--wp-admin--admin-bar--height, 0px));
	--mobile-menu-height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
}

body {
	background-color: var(--wp--preset--color--white);
	overflow-x: hidden;
}

main {
	margin: 0;
}

:root :where(.wp-site-blocks) > footer {
	margin-top: 0;
}

a {

	@include t.transition;
}

.has-headings-font-family {
	line-height: 1;
	font-weight: 800;
	font-style: italic;
}

.has-160-font-size,
.has-200-font-size {

	@media (max-width: 359px) {
		hyphens: auto;
	}
}

@media (max-width: 359px) {

	:root {

		.has-200-font-size {
			font-size: 4.25rem !important;
		}

		.has-160-font-size {
			font-size: 4rem !important;
		}

		.has-128-font-size {
			font-size: 3.75rem !important;
		}

		.has-96-font-size {
			font-size: 3.5rem !important;
		}

		.has-80-font-size {
			font-size: 3.25rem !important;
		}
	}
}

.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {

	@media (max-width: 359px) {
		max-width: calc(100vw - 2 * var(--wp--preset--spacing--16)) !important;
	}
}

// Blocks
.wp-block-list {

	&.is-style-spaced {

		> li:not(:last-child) {
			padding-bottom: 1em;
		}
	}

	&.is-style-inside {
		padding-left: 0;
		list-style-position: inside;
	}
}

.wp-block-cover.is-light:not(.has-text-color) {
	color: var(--wp--preset--color--white, #fff);
}

// Text stroke fix.
.is-style-with-stroke {
	--stroke-color: var(--wp--preset--color--accent);

	letter-spacing: 0.01em;
	text-shadow:
		max(1px, 0.0085em) max(1px, 0.0085em) var(--stroke-color),
		min(-1px, -0.0085em) max(1px, 0.0085em) var(--stroke-color),
		max(1px, 0.0085em) min(-1px, -0.0085em) var(--stroke-color),
		min(-1px, -0.0085em) min(-1px, -0.0085em) var(--stroke-color);
	caret-color: var(--stroke-color);
}

// Navigation.
.wp-block-navigation {

	&.is-style-main {

		.wp-block-navigation__container {

			@include breakpoints.show-desktop-menu {
				row-gap: 0;
			}
		}

		.wp-block-navigation-link {
			font-weight: 700;
			font-size: 1.5rem;

			a {
				text-decoration: none;
			}

			@include breakpoints.show-desktop-menu {
				font-size: var(--wp--preset--font-size--16);

				a {
					padding: 0.5625em 0;
					color: var(--navigation--link--color, currentColor);

					@include t.underline(var(--navigation--link--hover-color));

					&:hover {
						color: var(--navigation--link--hover-color);
					}
				}
			}
		}
	}
}

// Columns.
.wp-block-column {

	@media (max-width: calc(breakpoints.$break-mobile-layout - 1px)) {

		&:empty {
			display: none;
		}
	}
}

// Block state helpers.
html.has-modal-open {
	overflow-y: scroll;

	body {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
	}
}

// Aria.
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

// 404.
.scg-404-heading {

	@media (max-width: calc(breakpoints.$break-mobile-layout - 1px)) {
		text-align: center;
	}
}
