body.page-template-page-with-cover {
	--navigation--border--width: 0;
	--navigation--border: none;
	--navigation--background: transparent;
	--scg-logo--main-color: var(--wp--preset--color--white);

	.wp-block-cover.scg-featured {
		background-color: var(--wp--preset--color--base);

		&:is(.has-custom-content-position.is-position-bottom-left) .wp-block-cover__inner-container {
			width: 100%;
		}
	}

}
