@use "../../styles/utils/transitions" as t;

@mixin close-icon($state: "closed", $color: var(--wp--preset--color--white)) {

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 24px;
		height: 2px;
		border-radius: 1px;
		background: $color;

		@include t.transition(transform);
	}

	@if ($state == "closed") {

		@include close-icon-closed;
	} @else {

		@include close-icon-open;
	}
}

@mixin close-icon-open {

	&::before {
		transform: rotate(-45deg) translate3d(-50%, -50%, 0);
		transform-origin: -1px 0;
	}

	&::after {
		transform: rotate(45deg) translate3d(-50%, -50%, 0);
		transform-origin: 1px 0;
	}
}

@mixin close-icon-closed {

	&::before {
		transform: translate3d(-50%, calc(-50% - 3px), 0);
		transform-origin: -1px 0;
	}

	&::after {
		transform: translate3d(-50%, calc(-50% + 3px), 0);
		transform-origin: 1px 0;
	}
}
