:root {
	--scg-carousel--aspect-ration: 352 / 265;
	--scg-carousel--height: max(21vw, 14rem);
	--scg-carousel--max-height: 377px;
}

.wp-block-scg-carousel {
	width: 100%;
	display: flex;
	overflow: hidden;

	.wp-block-scg-carousel__wrapper {
		gap: 0;

		.wp-block-image {
			margin: 0;
			margin-left: var(--wp--style--block-gap);
			width: auto;
			aspect-ratio: var(--scg-carousel--aspect-ration);
			height: var(--scg-carousel--height);
			max-height: var(--scg-carousel--max-height);
		}
	}
}
