/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-scg-logo {
	max-width: 100%;

	svg {
		width: 100%;
		height: auto;
	}

	.scg-logo {

		&--main {
			fill: var(--scg-logo--main-color);
		}

		&--accent {
			fill: var(--wp--preset--color--accent);
		}
	}

	&,
	&.is-style-primary {
		--scg-logo--main-color: var(--wp--preset--color--base);
	}

	&.is-style-secondary {
		--scg-logo--main-color: var(--wp--preset--color--white);
	}

	path {
		transition: 0.3s fill ease-in;
	}
}
