@use "../../styles/utils/transitions" as t;

:root {
	--scg-logo--main-color: var(--wp--preset--color--base);
}

.wp-block-scg-logo {
	--wp--custom--transition--property: fill;

	max-width: 100%;

	svg {
		width: 100%;
		height: auto;
	}

	.scg-logo {

		&--main {
			fill: var(--scg-logo--main-color);
		}

		&--accent {
			fill: var(--wp--preset--color--accent);
		}
	}

	&.is-style-primary {
		--scg-logo--main-color: var(--wp--preset--color--base);
	}

	&.is-style-secondary {
		--scg-logo--main-color: var(--wp--preset--color--white);
	}

	path {

		@include t.transition;
	}
}
