@use "../utils/breakpoints";

.scg-site-footer {
	width: 100%;
	background-color: var(--wp--preset--color--base);
	color: var(--wp--preset--color--white);

	&__bottom {
		flex-direction: column-reverse;
		color: var(--wp--custom--color--white-2);

		@include breakpoints.break-mobile-layout {
			flex-direction: row;
		}
	}
}
