@use "../utils/breakpoints";

.wp-block-navigation {

	&__container {

		.scg-nav__mobile-only {

			@include breakpoints.break-small {
				display: none;
			}
		}
	}

	&-link {

		&.is-style-main {
			font-size: 2rem;

			@include breakpoints.break-small {
				font-size: 1.2rem;
			}
		}
	}
}
