@use "../../styles/utils/breakpoints" as b;
@use "../../styles/utils/transitions" as t;

.wp-block-scg-details {

	&__summary {
		display: flex;
		align-items: center;
		gap: var(--wp--preset--spacing--16);
		cursor: pointer;

		@include t.transition;

		> * {
			margin-top: 0;
			margin-bottom: 0;
		}

		img {
			flex-shrink: 0;
			flex-basis: 48px;

			@media (max-width: calc(b.$break-mobile-layout - 1px)) {
				width: 32px;
				height: 32px;
				flex-basis: 32px;
			}
		}

		&-title {
			flex-grow: 1;
			display: flex;
		}

		p {
			padding: 0.05em 0 0.2em;
			font-size: var(--wp--preset--font-size--32-alt);
			font-weight: 700;
			margin: 0;

			@include b.break-mobile-layout {

				& {

					@include t.underline;
				}
			}
		}

		svg path {

			@include t.transition(fill, stroke);
		}

		@include b.break-mobile-layout {

			&:hover {
				color: var(--wp--preset--color--accent);

				p::after {
					transform: scale(1, 1);
				}

				svg {

					[fill] {
						fill: currentcolor;
					}

					[stroke] {
						stroke: currentcolor;
					}
				}
			}
		}

		&:active :where(p, .marker) {
			opacity: 0.75;
		}

		.marker {
			flex-shrink: 0;

			&,
			#horizontal,
			#vertical {

				@include t.transition;
			}

			[data-open="true"] > & {
				transform: rotate(-90deg);

				#horizontal {
					opacity: 0;
				}
			}
		}
	}

	&__content {
		overflow: hidden;
	}

	&[data-open="false"] {

		> .wp-block-scg-details__content {
			display: none;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;
		padding-top: var(--wp--preset--spacing--32);
		padding-bottom: var(--wp--preset--spacing--32);
	}
}
