@use "../../styles/utils/breakpoints" as b;
@use "../../styles/utils/transitions" as t;

.wp-block-scg-details {

	&__summary {
		display: flex;
		gap: var(--wp--preset--spacing--16);

		@include t.transition;

		> * {
			margin-top: 0;
			margin-bottom: 0;
		}

		img {
			flex-shrink: 0;
			align-self: baseline;
			flex-basis: 48px;

			@media (max-width: calc(b.$break-mobile-layout - 1px)) {
				width: 32px;
				height: 32px;
				flex-basis: 32px;
			}
		}

		&-title {
			flex-grow: 1;
			display: flex;
		}

		p {
			padding: 0.05em 0 0.2em;
			font-size: var(--wp--preset--font-size--32-alt);
			font-weight: 700;
			margin: 0;

			@include t.underline;
		}

		&:hover {
			cursor: pointer;
			color: var(--wp--preset--color--accent);

			p::after {
				transform: scale(1, 1);
			}
		}

		&:active :where(p, .marker) {
			opacity: 0.75;
		}

		.marker {
			align-self: center;
			flex-shrink: 0;

			&,
			#horizontal,
			#vertical {

				@include t.transition;
			}

			[data-open="true"] > & {
				transform: rotate(-90deg);

				#horizontal {
					opacity: 0;
				}
			}
		}
	}

	&[data-open="false"] {

		> .wp-block-scg-details__content {
			display: none;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;
		padding-top: var(--wp--preset--spacing--32);
		padding-bottom: var(--wp--preset--spacing--32);
	}
}
