@use "../../styles/utils/breakpoints";

.is-root-container:has(.wp-block-scg-header:not(.is-style-transparent)) main {
	padding-top: var(--navigation--height);
}

.is-root-container:not(:has(> :not(.wp-block-scg-header))) {
	background-color: var(--wp--preset--color--black, #000);

	@media (max-width: calc(breakpoints.$break-mobile-layout - 1px)) {
		min-height: 500px !important;

	}
}
