@use "../../styles/utils/breakpoints";
@use "../../styles/utils/transitions" as t;
@use "../../styles/utils/misc" as m;

@mixin isOpenState {

	.wp-block-scg-header {

		&__bg {
			height: 100vh;
			height: 100dvh;
			border: var(--navigation--border);
			transition: none;
		}

		&__menu {
			display: flex;
		}
	}
}

:root {
	--navigation--toggle--size: 56px;
	--navigation--toggle--background-color: var(--wp--preset--color--accent);
	--navigation--toggle--color: var(--wp--preset--color--white);
	--navigation--link--hover-color: var(--wp--preset--color--accent);
	--navigation--padding: var(--wp--preset--spacing--40);
	--navigation--background: var(--wp--preset--color--white);
	--navigation--border--width: 4px;
	--navigation--border: var(--navigation--border--width) solid var(--wp--preset--color--accent);
	--navigation--height: var(--navigation--toggle--size);

	@include breakpoints.show-desktop-menu {
		--navigation--height: calc(var(--navigation--padding) * 2 + max(1vw + 24px, var(--wp--preset--font-size--16) * 1.2 + 0.5625em * 2));
	}
}

.wp-block-scg-header {
	display: flex;
	align-items: start;
	flex-direction: column;
	position: relative;
	column-gap: var(--wp--preset--spacing--32);

	&__bg,
	&__bg--scroll {
		z-index: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		background-color: var(--navigation--background);
	}

	&__bg {
		height: 0;
	}

	&__bg--scroll {
		height: var(--navigation--height);
		transform: scale(1);
		transform-origin: top;
		border-bottom: 2px solid var(--wp--custom--border--base);

		@include t.transition(transform);
	}

	@include breakpoints.show-mobile-menu {

		.wp-block-scg-header__menu {
			order: 3;
			padding: var(--wp--preset--spacing--16);
			width: 100%;
			overflow-y: auto;
			max-height: calc(var(--viewport-height) - var(--navigation--height) - var(--navigation--border--width));
			display: none;
			flex-direction: column;
			align-items: start;
			position: relative;

			> * {
				width: 100%;
			}
		}

		.wp-block-navigation {
			--navigation-layout-direction: column;
			--navigation-layout-align: start;

			&-item,
			&-item__content {
				width: 100%;
			}
		}
	}

	@include breakpoints.show-desktop-menu {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		padding: var(--navigation--padding);

		& &__mobile-menu,
		& &__toggle {
			display: none;
		}
	}

	.wp-block-scg-logo {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;

		@include breakpoints.show-mobile-menu {
			min-height: var(--navigation--toggle--size);
			margin: 0 var(--wp--preset--spacing--16);
		}

		svg {
			height: clamp(24px, 24px + (100vw - 360px) * 0.07175, 1vw + 24px);
			width: auto;
		}
	}

	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
		width: var(--navigation--toggle--size);
		min-height: var(--navigation--toggle--size);
		background-color: var(--navigation--toggle--background-color);
		appearance: none;
		border: 0;
		cursor: pointer;
		z-index: 2;
		touch-action: manipulation;

		@include m.close-icon($color: var(--navigation--background));
	}

	// is-transparent style.
	&.is-style-transparent {
		--scg-logo--main-color: var(--wp--preset--color--white);

		@include breakpoints.show-desktop-menu {
			--navigation--link--color: var(--wp--preset--color--white);
		}

		.wp-block-scg-header__bg--scroll {
			border: 0;
			transform: scale(1, 0);
		}
	}

	// is-scrolled state.
	&[data-is-scrolled="true"] {
		--navigation--link--color: var(--wp--preset--color--base);
		--scg-logo--main-color: var(--wp--preset--color--base);

		.wp-block-scg-header__bg--scroll {
			transform: scale(1);
		}
	}

	// is-open state.
	&[data-is-open="true"] {

		--navigation--link--color: var(--wp--preset--color--base);
		--scg-logo--main-color: var(--wp--preset--color--base);

		.wp-block-scg-header {

			&__toggle {

				@include m.close-icon-open;
			}
		}

		&:not(.has-animations) {

			@include isOpenState;
		}

		@media (prefers-reduced-motion: reduce) {

			@include isOpenState;
		}
	}
}
